.cell{
    float:left;
    width: 20px;
    height:20px;
    background-color: #B2A591;
    border: 3px groove #B2A591;
}

.cell-discovered{
    height: 100%;
    background-color: #FFF8E8;
}

.cell-marked{
    height:100%;
    background-color: black;
}

